resources:
  requests:
    cpu: 20m
    memory: 50Mi
  limits:
    cpu: 100m
    memory: 75Mi

webhook:
  resources:
    requests:
      cpu: 20m
      memory: 30Mi
    limits:
      cpu: 100m
      memory: 45Mi

cainjector:
  resources:
    requests:
      cpu: 20m
      memory: 40Mi
    limits:
      cpu: 100m
      memory: 60Mi
