xivgear-static:

  deploymentAnnotations: &deployAnn
    keel.sh/policy: "force"
    keel.sh/trigger: "poll"
    keel.sh/pollSchedule: "@every 2m"
    keel.sh/match-tag: "true"

  replicaCount: 3

  image:
    pullPolicy: Always
    tag: "prod"

  ingress:
    enabled: true
    className: "nginx"
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: "letsencrypt-production"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
    #      nginx.ingress.kubernetes.io/rewrite-target: /$1
    hosts:
      - host: 'xivgear.app'
        paths:
          - path: /
            pathType: ImplementationSpecific
      - host: 'www.xivgear.app'
        paths:
          - path: /
            pathType: ImplementationSpecific
      - host: 'ok.xivgear.app'
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: letsencrypt-production-static-new
        hosts:
          - "ok.xivgear.app"
          - "xivgear.app"
          - "www.xivgear.app"

  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 1000m
      memory: 128Mi


  preview:
    enabled: true
    extraScripts: 'https://s.nitropay.com/ads-2008.js'
    autoscaling:
      enabled: true
      minReplicas: 2
      maxReplicas: 4
      targetCPUUtilizationPercentage: 60
    replicaCount: 2

    resources:
      requests:
        cpu: 200m
        memory: 256Mi
      limits:
        cpu: 1200m
        memory: 320Mi



xivgear-storage-api:

  deploymentAnnotations: *deployAnn

  image:
    pullPolicy: Always

  ingress:
    enabled: true
    className: "nginx"
    annotations:
      kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/rewrite-target: /$1
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      cert-manager.io/cluster-issuer: "letsencrypt-production"
    hosts:
      - host: 'api.xivgear.app'
        paths:
          - path: /(.*)
            pathType: ImplementationSpecific
      - host: 'share.xivgear.app'
        paths:
          - path: /(.*)
            pathType: ImplementationSpecific
    tls:
      - secretName: letsencrypt-production-api
        hosts:
          - "api.xivgear.app"
          - "share.xivgear.app"

  resources:
    requests:
      cpu: 150m
      memory: 256Mi
    limits:
      cpu: 1500m
      memory: 320Mi

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 8
    targetCPUUtilizationPercentage: 600


xivgear-storage-api-beta:

  priorityClassName: non-prod-critical

  deploymentAnnotations: *deployAnn

  image:
    pullPolicy: Always
  #    tag: "add-ips-and-backup"

  ingress:
    enabled: true
    className: "nginx"
    annotations:
      kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/rewrite-target: /$1
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      cert-manager.io/cluster-issuer: "letsencrypt-production"
    hosts:
      - host: 'betaapi.xivgear.app'
        paths:
          - path: /(.*)
            pathType: ImplementationSpecific
      - host: 'betashare.xivgear.app'
        paths:
          - path: /(.*)
            pathType: ImplementationSpecific
    tls:
      - secretName: letsencrypt-production-beta-api
        hosts:
          - "betaapi.xivgear.app"
          - "betashare.xivgear.app"

  resources:
    requests:
      cpu: 50m
      memory: 192Mi
    limits:
      cpu: 250m
      memory: 240Mi

  replicaCount: 1
  autoscaling:
    enabled: false

xivgear-beta:

  podAntiAffinity: true
  deploymentAnnotations: *deployAnn
  image:
    tag: 'main'
    pullPolicy: Always
  preview:
    enabled: true

  ingress:
    enabled: true
    hosts:
      - host: 'beta.xivgear.app'
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: letsencrypt-production-beta
        hosts:
          - "beta.xivgear.app"

xivgear-atest:

  deploymentAnnotations: *deployAnn
  image:
    tag: 'main'
    pullPolicy: Always
  preview:
    enabled: true
    extraScripts: 'https://s.nitropay.com/ads-2008.js'

  ingress:
    enabled: true
    hosts:
      - host: 'atest.xivgear.app'
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: letsencrypt-production-atest
        hosts:
          - "atest.xivgear.app"

xivgear-btest:

  nameOverride: xivgear-btest

  deploymentAnnotations: *deployAnn
  image:
    pullPolicy: Always
    tag: "main"

  ingress:
    enabled: true
    hosts:
      - host: 'btest.xivgear.app'
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: letsencrypt-production-btest
        hosts:
          - "btest.xivgear.app"

  preview:
    enabled: true

xivgear-stats-api:
  deploymentAnnotations: *deployAnn
  shortlinkOverride: 'http://xivgear-xivgear-storage-api:8080/shortlink/'

  image:
    pullPolicy: Always
    repository: ghcr.io/xiv-gear-planner/xivgear-stats-server
    tag: "prod"

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 320Mi

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 8
    targetCPUUtilizationPercentage: 70

xivgear-stats-api-beta:
  deploymentAnnotations: *deployAnn
  priorityClassName: non-prod-non-critical
  shortlinkOverride: 'http://xivgear-xivgear-storage-api:8080/shortlink/'

  image:
    pullPolicy: Always
    repository: ghcr.io/xiv-gear-planner/xivgear-stats-server
    tag: "main"

  resources:
    requests:
      cpu: 50m
      memory: 192Mi
    limits:
      cpu: 300m
      memory: 256Mi

  replicaCount: 1
  autoscaling:
    enabled: false

  ingress:
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$1$2
    hosts:
      - host: 'betaapi.xivgear.app'
        paths:
          - path: /(fulldata|basedata|validateEmbed)(.*)
            pathType: ImplementationSpecific
    tls:
      - secretName: letsencrypt-production-beta-api
        hosts:
          - "betaapi.xivgear.app"

#xivgear-modern:
#  nameOverride: xivgear-modern
#  deploymentAnnotations: *deployAnn
#  image:
#    pullPolicy: Always
#    tag: "main"
#
#  ingress:
#    enabled: true
#    hosts:
#      - host: 'modern.xivgear.app'
#        paths:
#          - path: /
#            pathType: ImplementationSpecific
#    tls:
#      - secretName: letsencrypt-production-modern
#        hosts:
#          - "modern.xivgear.app"
#  preview:
#    enabled: true

#xivgear-stats-api-beta:
#  deploymentAnnotations: *deployAnn
#  shortlinkOverride: 'http://xivgear-xivgear-storage-api:8080/shortlink/'
#
#  image:
#    pullPolicy: Always
#    repository: ghcr.io/xiv-gear-planner/xivgear-stats-server
#    tag: "url-query-param"
#
#  resources:
#    requests:
#      cpu: 200m
#      memory: 512Mi
#    limits:
#      cpu: 1000m
#      memory: 4096Mi
#
#  replicaCount: 1
#
#  autoscaling:
#    enabled: false
##    minReplicas: 1
##    maxReplicas: 1
##    targetCPUUtilizationPercentage: 70
#
#  ingress:
#    enabled: true
#    className: "nginx"
#    annotations:
#      kubernetes.io/ingress.class: nginx
#      nginx.ingress.kubernetes.io/rewrite-target: /fulldata/$1
#      cert-manager.io/cluster-issuer: "letsencrypt-production"
#    hosts:
#      - host: 'api.xivgear.app'
#        paths:
#          - path: /fulldatatest/(.*)
#            pathType: ImplementationSpecific
#    tls:
#      - secretName: letsencrypt-production-api
#        hosts:
#          - "api.xivgear.app"

xivgear-mathcorner:

  deploymentAnnotations: *deployAnn
  image:
    pullPolicy: Always
    tag: "prod"
  ingress:
    tls:
      - secretName: letsencrypt-production-static-new
        hosts:
          - "ok.xivgear.app"
          - "xivgear.app"
          - "www.xivgear.app"

  resources:
    requests:
      cpu: 10m
      memory: 10Mi
    limits:
      cpu: 200m
      memory: 64Mi

#xivgear-mathcorner-beta:
#
#  deploymentAnnotations: *deployAnn
#  image:
#    pullPolicy: Always
#    tag: "main"
#  ingress:
#    hosts:
#      - host: 'xivgear.app'
#        paths:
#          - path: &path /math100/(.*)
#            pathType: ImplementationSpecific
#      - host: 'ok.xivgear.app'
#        paths:
#          - path: *path
#            pathType: ImplementationSpecific
#      - host: 'www.xivgear.app'
#        paths:
#          - path: *path
#            pathType: ImplementationSpecific
#    tls:
#      - secretName: letsencrypt-production-static-new
#        hosts:
#          - "ok.xivgear.app"
#          - "xivgear.app"
#          - "www.xivgear.app"

xivgear-data-api:

  deploymentAnnotations: *deployAnn

  image:
    pullPolicy: Always
    tag: "prod"

  resources:
    requests:
      cpu: 200m
      memory: 960Mi
    limits:
      cpu: 1500m
      # Can almost certainly be reduced if needed
      memory: 1024Mi

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    targetCPUUtilizationPercentage: 500

xivgear-data-api-beta:

  priorityClassName: non-prod-critical

  deploymentAnnotations: *deployAnn

  image:
    pullPolicy: Always
    tag: "main"

  resources:
    requests:
      cpu: 80m
      memory: 512Mi
    limits:
      cpu: 500m
      # 512Mi ran out of memory
      memory: 640Mi

  replicaCount: 1
  autoscaling:
    enabled: false

  ingress:
    enabled: true
    hosts:
      - host: 'betadata.xivgear.app'
        paths:
          - path: /(.*)
            pathType: ImplementationSpecific
    tls:
      - secretName: letsencrypt-production-betadata
        hosts:
          - "betadata.xivgear.app"

  objectStorageBucket: 'xivgear-data-beta'

xivgear-account-service:
  deploymentAnnotations: *deployAnn
  priorityClassName: prod-critical
  image:
    pullPolicy: Always
    tag: "main"

  replicaCount: 2
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    targetCPUUtilizationPercentage: 800

  resources:
    requests:
      cpu: 80m
      memory: 320Mi
    limits:
      cpu: 1000m
      memory: 320Mi

  createTables: "false"

xivgear-userdata-service:
  deploymentAnnotations: *deployAnn
  priorityClassName: prod-critical
  image:
    pullPolicy: Always
    tag: "main"

  replicaCount: 2
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    targetCPUUtilizationPercentage: 800

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 320Mi

  createTables: "false"

xivgear-static-bis:

  deploymentAnnotations: *deployAnn
  # TODO this isn't working
  priorityClassName: prod-critical

  ingress:
    enabled: true
    className: "nginx"
    annotations:
      kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/rewrite-target: /$1
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      nginx.ingress.kubernetes.io/enable-cors: "true"
      nginx.ingress.kubernetes.io/cors-allow-origin: "*"
      cert-manager.io/cluster-issuer: "letsencrypt-production"
    hosts:
      - host: 'staticbis.xivgear.app'
        paths:
          - path: /(.*)
            pathType: ImplementationSpecific
      - host: 'staticbis2.xivgear.app'
        paths:
          - path: /(.*)
            pathType: ImplementationSpecific
    tls:
      - secretName: letsencrypt-staticbis-prod
        hosts:
          - "staticbis.xivgear.app"
          - "staticbis2.xivgear.app"
